<!DOCTYPE html>
<html>

<head></head>

<body>
   <h1>Mala cosa</h1>
    <form action="/buscar-paciente" method="POST">

<input type="text" name="correo">
<input type="text" name="contraseña">

<button type="submit">dale</button>


    
</form>
</body>

</html>